body{
background-color : #FFEEB5 !important;
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
}


 .thead{
background-color: #FFEEB5;
color :black;

}
td{
	color: #FFEEB5;
	background-color: #589DF0
}

.navbar navbar-expand-md bg-dark navbar-dark{
	background-color : #00BDAA: 
}

.head{
	font-size: 200%; 
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#box{
	background-color: #589DF0 ;
	border : black;
}

a:link {
  color: #FFEEB5 ;
   text-decoration: none;
}

a:visited {
  color:#FFEEB5;
   text-decoration: none;
}

a:hover {
  color:white;
	text-decoration: none;
}

a:active {
   color:#00BDAA;
  	text-decoration: none;
}
.nav-link{
	color: #FFEEB5 !important;
	font-weight : 500;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

html, body {
    height:100% ;
}

.badge{
	background-color: #00BDAA;
	border: 1px solid white;
	color:white;
}
 
#button1{
	margin-left:2px;
	
}